* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --console-bg: #282C35;
    --text-white: #fffff0;
    --button-red: #de1738;
    --reset-button: #FFD700;
}

.container {
    display: flex;
    justify-content: center;
}

.logs-container {
    width: 80vw;
    height: 70vh;
    background-color: var(--console-bg);
    margin-top: 3rem;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.logs-list {
    list-style: none;
    margin: 10px 15px;
    flex: 1;
    overflow-y: hidden;
}

.logs-list li{
    /* color: #fffff0; */
    font-family: 'Source Code Pro', monospace;
}

.logo-list li:focus, .logo-list li:focus-visible {
    outline: none;
}

.buttons-container {
    position: absolute;
    right: 0;
    top: -30px;
}

.reset-login {
    background-color: var(--button-red);
    color:  var(--text-white);
}

.stop-server {
    background-color: var(--reset-button);
    color: var(--text-white);
}

.btn {
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

.status-container {
    position: absolute;
    left: 0;
    top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.server-status-icon {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--reset-button);
}

#server-status-text {
    margin-left: 10px;
}

@media only screen and (max-device-width: 480px) {
    .logs-container {
        width: 95vw;
        height: 90vh;
        margin-top: 7rem;
    }

    .btn {
        padding: 15px;
    }

    .reset-login, .stop-server {
        font-size: 24px;
    }

    .buttons-container {
        top: -70px;
    }

    .status-container {
        top: -50px;
    }

    .status-container > #server-status-text {
        font-size: 35px;
    }

    .server-status-icon {
        width: 20px;
        height: 20px;
    }

    .logs-list > li > span {
        font-size: 30px;
    }
}